// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// text
$text-primary-dark-blue: #1d1e35;
$text-primary-soft-red: #f47c57;
$text-neutral-dark-blue: #4a4b5e;
$text-neutral-gray-blue: #787887;

// color
$color-black: #000;
$color-white: #fefefe;
$color-primary: #af67e9;
$color-secondary: #6565e7;

// transition
$transition: all 0.5s;

// shadow
$shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
