*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
  box-sizing: border-box;
  font-size: 1.2rem;
}
